
/* ESTILO GERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    .poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}
}

.botão{
  color: #e1e1e1;
}

.flex{
  display: flex;
}

.contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 550;
    background-color: #000000;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

a:hover{
    color: #000000;
    transform: scale(1.05);
    display: inline-block;
    transition: .2s;
  
.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

}

body{
    background-color: #e1e1e1;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

/* ESTILO DO CABEÇALHO */
header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #5b5959;
    text-decoration: none;
}

a:hover{
    color: #000000;
    transform: scale(1.05);
    display: inline-block;
    transition: .2s;
}

header nav ul{
    list-style-type: none;

}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

.contato button{
    box-shadow: 0px 0px 8px;
    cursor: pointer;
}

/* ESTILO DO INÍCIO */
section.topo-do-site{
  padding: 40px 4%;
}

section.topo-do-site .flex{
  align-items: center;
  justify-content: center;
  gap: 90px;
}

.topo-do-site .txt-topo-site h1{
  font-size: 42px;
}

.topo-do-site .txt-topo-site p{
  margin: 30px 0;
}

.topo-do-site .img-topo-site img{
  border-radius: 30px;
}

.contato button{
  transform: scale(1.05);
}


/* ESTILO DO SOBRE */
section.sobre{
  padding: 80px 4%;
}

section.sobre .flex{
  align-items: center;
  gap: 200px;
}

.sobre .txt-sobre h2{
  font-size: 40px;
  margin-bottom: 30px;
}

.sobre .txt-sobre p{
  margin: 20px 0;
  text-align: justify;
}

.sobre .img-sobre img{
  border-radius: 30px;
}

/* ESTILO DE PROJETOS */
section.projetos{
  padding: 80px 4%; 
  text-align: center;
  font-size: 30px;
}

section.projetos .flex{
  justify-content: space-around;
  margin-top: 60px;
}

.img-projetos{
  width: 360px;
  height: 460px;
  background-color: #aeabab00;
  background-size: cover;
  background-position: 100% 0%;
  transition: 5s;
  cursor: pointer;
  border-radius: 40px;
  position: relative;
}

.img-projetos:hover{
  background-position: 100% 100%;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000086;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 600;
  color: #e1e1e1;
  opacity: 0;
  transition: .5s;
}

.overlay:hover{
  opacity: 1;
}

section.projetos .txt-projetos h2{ 
    font-size: 40px;
    text-align: center;
}

section.projetos .txt-projetos p{
  text-align: 20px;
}

.projetos p {
    margin-top: 40px;
    font-size: 18px;
    line-height: 1.6;
}

.botão {
    padding: 10px 40px;
    font-size: 15px;
    font-weight: 550;
    background-color: #000000;
    color: #e1e1e1;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

/* FOOTER */

footer {
  background-color: #111;
  color: #fff;
  text-align: center;
  padding: 25px 0;
}

#mensagemBoasVindas {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #000;
    color: #e1e1e1;
    padding: 15px 25px;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    z-index: 1000;
}